.members {
    background-color: var(--cor-terciaria);
}

.members__title {
    font-family: var(--fonte-secundaria);
    color: #f0f0f0;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    
    padding: 5rem 3rem 4rem;
    display: flex;
    justify-content: center;
}

.container__column__members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
}


.member__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 4rem;
    margin-bottom: 3rem;
}

.member__item-img {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.member__item-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);;
}

.member__item-img-hover {
    opacity: 0%;
    position: absolute;
    width: 320px;
    transition: 0.1s;
}

.member__item-img-hover img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.member__item-img-hover:hover {
    opacity: 100%;
    transition: 0.1s;
}

.member__item-img-hover img:hover {
    border-radius: 20px;
}