
.navbar {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo__newJeans {
    width: 7rem;
}

.logo, .buttom_container{
    flex: 1;
}

.buttom_container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link__nav {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: var(--cor-primaria);
    cursor: pointer;
    font-weight: 600;
    transition: border-bottom 0.2s ease;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
}

.botao__log-in, .botao__sign-up {
    outline: none;
    border: none;
    font-family: var(--fonte-principal);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 0 2px 3.5px 0 rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.botao__log-in {
    background-color: var(--cor-primaria);
}

.botao__sign-up {
    background-color:var(--cor-secundaria);
}

.botao__log-in:active, .botao__sign-up:active {
    transition: 0.1s;
    transform: translateY(2px);
    box-shadow: none;
}

.botao__log-in:hover, .botao__sign-up:hover{
    background-color: var(--cor--terciaria);
}

.link__nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--cor-primaria);
    transition: width 0.3s ease;
}

.link__nav:hover::after {
    width: 100%;
}